.header{
    display: flex;
    flex-direction: row;
    height: 65px;
    justify-content: space-between;
    position: fixed;
    top:0px;
    left:0px;
    right:0px;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(211, 208, 208);
    z-index: 100;
}
.Left-Section{
    width: 130px;
    display:flex;
    align-items: center;
}
.hamburger-menu{
    height:24px;
    margin-left:28px;
    margin-right:24px;
}
.youtube-logo{
    height:20px;
}

.Middle-Section{
    display:flex;
    flex: 1;
    margin-left: 145px;
    margin-right: 80px;
    max-width: 600px;
    align-items: center;
}
.search-bar{
    flex:1;
    height: 35px;
    border-bottom-left-radius: 35px;
    border-top-left-radius: 35px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(196, 192, 192);
    width:0;
}
.search-icon{
    height:24px;
}
.search-icon-container, 
.voice-search-container,
.upload-icon,
.youtube-apps,
.notifications-icon{
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
}
.search-icon-container .tooltip,
.voice-search-container .tooltip,
.upload-icon .tooltip,
.youtube-apps .tooltip,
.notifications-icon .tooltip{
    position: absolute;
    opacity:0;
    padding-top:4px;
    padding-bottom: 4px;
    padding-left:6px;
    padding-right:6px;
    background-color: rgb(91, 89, 89);
    color:white;
    font-size:16px;
    border-radius: 2px;
    bottom:-35px;
    pointer-events: none;
    white-space: nowrap;
}
.search-icon-container:hover .tooltip,
.voice-search-container:hover .tooltip,
.upload-icon:hover .tooltip,
.youtube-apps:hover .tooltip,
.notifications-icon:hover .tooltip{
    opacity:1;
    transition: opacity 0.15s;
}
.search-icon-button{
    height:38px;
    width:58px;
    border-bottom-right-radius: 18px;
    border-top-right-radius: 18px;
    border-width:1px;
    border-style:solid;
    border-color:rgb(225, 218, 218);
    border-color:rgb(225, 218, 218);
    margin-right:10px;
    margin-left: -1px;
}
.voice-search-icon-button{
    height:40px;
    width:40px;
    border:none;
    border-radius: 20px;
}
.voice-search-icon{
    height:24px;
}
.Right-Section{
    width: 200px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right:16px;
    flex-shrink: 0;
}
.upload{
    height: 24px;
}
.youtube-apps{
    height: 24px;
}
.notifications{
    height: 24px;
}
.my-channel{
    height: 30px;
    border-radius: 15px;
}
.notifications-icon{
    position:relative;
}
.notifications-count{
    position:absolute;
    top:-4px;
    right:-1px;
    background-color: rgb(206, 50, 50);
    padding-left: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 5px;
    border-radius: 25px;
    font-size: 12px;
}
