.sidebar{
    position: fixed;
    left:0px;
    bottom:60px;
    top:65px;
    background-color: white;
    width:82px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 4px;
    z-index: 200;
}
.sidebar img{
        height:25px;       
}
.sidebar p{
        font-size: 10px;
        font-weight: 200;
}
.sidebar-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.sidebar-icon:hover{
    background-color: rgb(232, 227, 227);
    cursor: pointer;
}